@import 'common';

@import url(https://fonts.googleapis.com/css?family=Crimson+Text|Lato|Maven+Pro:400,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

h1, h2, h3,h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-bottom: 0;
}

ul, ol {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

dl {
    margin-bottom: 0;
}

address {
    margin-bottom: 0;
}

.form-group {
    margin-bottom: 0;
}

html, body {
    min-width: 320px;
}

body {
    padding-top: 50px;
    @include noto();
    @include font(12px, 18px);
    color: #666;
    -webkit-transition: padding-top .3s;
    transition: padding-top .3s;
    @media (min-width: $sm) {
        padding-top: 94px;
        @include font(13px, 22px);
    }
    @media (min-width: $md) {
        padding-top: 210px;
    }
    @media (min-width: $lg) {
        @include font(14px, 22px);
    }
}

a {
    @include noto();
    color: #666;
    &:hover, &:focus {
        text-decoration: none;
        color: #666;
    }
}

.container,
.container-fluid {
    padding-left: 10px;
    padding-right: 10px;
    .row {
        margin-left: -5px;
        margin-right: -5px;
        @for $i from 1 through 12 {
            .col-xs-#{$i},
            .col-sm-#{$i},
            .col-md-#{$i},
            .col-lg-#{$i} {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
    @media (min-width: $sm) {
        padding-left: 20px;
        padding-right: 20px;
        .row {
            margin-left: -10px;
            margin-right: -10px;
            @for $i from 1 through 12 {
                .col-xs-#{$i},
                .col-sm-#{$i},
                .col-md-#{$i},
                .col-lg-#{$i} {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }
    @media (min-width: $md) {
        padding-left: 15px;
        padding-right: 15px;
        .row {
            margin-left: -15px;
            margin-right: -15px;
            @for $i from 1 through 12 {
                .col-xs-#{$i},
                .col-sm-#{$i},
                .col-md-#{$i},
                .col-lg-#{$i} {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
    }
}

#header {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #000;
    -webkit-transition: height .3s;
    transition: height .3s;
    .container {
        position: relative;
    }
    .logo {
        margin: 8px auto 0;
        width: 94px;
        height: 34px;
        -webkit-transition: all .3s;
        transition: all .3s;
        img {
            display: block;
            width: 100%;
            height: 100%;
        } 
    }
    .btn-open-menu {
        position: absolute;
        top: 5px;
        left: 0;
        padding: 10px;
        width: 40px;
        height: 40px;
        line-height: 20px;
        background-color: transparent;
        border: 0;
        &:before {
            font-family: 'fontello';
            content: '\F0C9';
            font-size: 20px;
            color: #fff;
        }
    }
    .btn-call {
        position: absolute;
        top: 5px;
        right: 0;
        padding: 10px;
        width: 40px;
        height: 40px;
        line-height: 20px;
        background-color: transparent;
        border: 0;
        &:before {
            font-family: 'fontello';
            content: '\E801';
            font-size: 20px;
            color: #fff;
        }
    }
    @media (min-width: $sm) {
        height: 94px;
        .logo {
            margin-top: 20px;
            width: 149px;
            height: 54px;
        }
        .btn-open-menu {
            top: 22px;
            width: 50px;
            height: 50px;
            &:before {
                font-size: 30px;
                line-height: 30px;
            }
        }
        .btn-call {
            top: 22px;
            width: 50px;
            height: 50px;
            &:before {
                font-size: 30px;
                line-height: 30px;
            }
        }
    }
    @media (min-width: $md) {
        height: 157px;
        border-bottom: 1px solid rgba(#fff, .2);
        .logo {
            margin-top: 34px;
            width: 246px;
            height: auto;
        }
        .sns {
            position: absolute;
            top: 15px;
            right: 15px;
            overflow: hidden;
            li {
                float: left;
                margin-left: 12px;
                &:first-child {
                    margin-left: 0;
                }
                a {
                    &:before {
                        color: #fff;
                        opacity: 1;
                    }
                    &:hover {
                        &:before {
                            opacity: .5;
                        }
                    }
                }
                &.kakaostory {
                    a {
                        &:before {
                            content: url(/assets/images/ico_kakaostory.png);
                            vertical-align: -4px;
                        }
                    }
                }
                &.instagram {
                    a {
                        &:before {
                            font-family: 'fontello';
                            content: '\F16D';
                            font-size: 16px;
                        }
                    }
                }
                &.blogger {
                    a {
                        &:before {
                            font-family: 'fontello';
                            content: '\E800';
                        }
                    }
                }
                &.facebook {
                    a {
                        &:before {
                            font-family: 'fontello';
                            content: '\F300';
                        }
                    }
                }
            }
        }
    }
}

#gnb {
    z-index: 1;
    position: fixed;
    top: 157px;
    left: 0;
    width: 100%;
    height: 53px;
    font-size: 16px;
    background-color: #000;
    text-align: center;
    -webkit-transition: top .3s;
    transition: top .3s;
    li {
        padding-left: 0;
        padding-right: 0;
        a {
            position: relative;
            display: inline-block;
            @include maven();        
            line-height: 53px;
            color: #fff;
            span {
                position: absolute;
                left: 50%;
                bottom: 0;
                width: 0;
                height: 3px;
                background-color: #f8dfb2;
                -webkit-transition: all .3s;
                transition: all .3s;
            }
            &:hover, &:focus {
                span {
                    left: 0;
                    width: 100%;
                }
            }
        }
        &.active {
            a {
                color: #f8dfb2;
                span {
                    left: 0;
                    width: 100%;
                }
            }
        }
    }
}

body.scrolled {
    @media (min-width: $md) {
        padding-top: 147px;
        #header {
            height: 94px;
            -webkit-transition: all .3s;
            transition: all .3s;
            .logo {
                margin-top: 20px;
                width: 149px;
                height: 54px;
            }
        }
        #gnb {
            top: 94px;
            -webkit-transition: all .3s;
            transition: all .3s;
        }
    }
}

#aside {
    z-index: 1;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, .7);
    .aside-content {
        position: fixed;
        top: 0;
        left: -314px;
        padding-top: 94px;
        padding-bottom: 39px;
        width: 260px;
        height: 100%;
        background-color: #fff;
        -webkit-transition: left .3s;
        transition: left .3s;
        .aside-head {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 94px;
            border-bottom: 1px solid rgba(#000, .1);
            .btn-close-menu {
                position: absolute;
                top: 0;
                right: -54px;
                padding: 0;
                width: 54px;
                height: 54px;
                border: 0;
                background-color: transparent;
                &:before {
                    font-family: "fontello";
                    content: '\E802';
                    font-size: 33px;
                    color: #fff;
                }
            }
            .logo {
                img {
                    display: block;
                    margin: 20px auto 0;
                }
            }
        }
        .aside-body {
            overflow: auto;
            height: 100%;
            .gnb {
                > li {
                    > a {
                        display: block;
                        padding-left: 20px;
                        padding-right: 20px;
                        height: 54px;
                        border-bottom: 1px solid rgba(#000, .1);
                        @include maven();
                        font-size: 14px;
                        line-height: 53px;
                        color: #333;
                        font-weight: bold;
                        &:after {
                            float: right;
                            font-family: 'fontello';
                            content: '\F006';
                        }
                    }
                    &.active {
                        background-color: #fae9c9;
                    }
                }
            }
        }
        .aside-foot {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 40px;
            border-top: 1px solid rgba(#000, .1);
            background-color: #fff;
            .sns {
                text-align: center;
                ul {
                    display: inline-block;
                    li {
                        display: inline;  
                        a {
                            float: left;
                            width: 39px;
                            height: 39px;
                            line-height: 39px;
                            text-align: center;
                            color: #333;
                        }
                        &.kakaostory {
                            a {
                                &:before {
                                    content: url(/assets/images/ico_kakaostory_black.png);
                                    vertical-align: -4px;
                                }
                            }
                        }
                        &.instagram {
                            a {
                                &:before {
                                    font-family: 'fontello';
                                    content: '\F16D';
                                    font-size: 18px;
                                }
                            }
                        }
                        &.blogger {
                            a {
                                &:before {
                                    font-family: 'fontello';
                                    content: '\E800';
                                    font-size: 14px;
                                }
                            }
                        }
                        &.facebook {
                            a {
                                &:before {
                                    font-family: 'fontello';
                                    content: '\F300';
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media (min-width: $sm) {
        .aside-content {
            padding-top: 109px;
            left: -720px;
            width: 660px;
            .aside-head {
                height: 109px;
                .btn-close-menu {
                    &:before {
                        font-size: 40px;
                    }
                }
            }
            .aside-body {
                .gnb {
                    > li {
                        > a {
                            font-size: 15px;
                        }
                    }
                }
            }
            .aside-foot {
                .sns {
                    ul {
                        li {
                            a {
                                margin-left: 25px;
                            }
                            &:first-child {
                                a {
                                    margin-left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

body.aside-open {
    overflow: hidden;
    #aside {
        left: 0;
        .aside-content {
            left: 0;
        }
    }
    @media (min-width: $md) {
        overflow: auto;
        #aside {
            left: -100%;
            .aside-content {
                left: -720px;
            }
        }
    }
}

#footer {
    padding-top: 20px;
    padding-bottom: 15px;
    border-top: 1px solid #ccc;
    text-align: center;
    .company {
        @include font(12px, 15px);
        color: #666;
        h2 {
            display: inline;
            @include font(12px, 15px);
            font-weight: normal;
            &:after {
                margin-left: 4px;
                margin-right: 2px;
                content: '|';
                color: #999;
                font-size: 10px;
                vertical-align: 1px;
            }
        }
        dl {
            display: inline;
            dt, dd {
                display: inline-block;
            }
            dt {
                font-weight: normal;
                &:after {
                    margin-left: 4px;
                    margin-right: 2px;
                    content: ':';
                    color: #999;
                    font-size: 10px;
                    vertical-align: 1px;
                }
            }
            dd {
                &:after {
                    margin-left: 4px;
                    margin-right: 2px;
                    content: '|';
                    color: #999;
                    font-size: 10px;
                    vertical-align: 1px;
                }
                &.visible-xs-block {
                    line-height: 0;
                    &:after {
                        content: "";
                    }
                }
                &.visible-sm-block {
                    line-height: 0;
                    &:after {
                        content: "";
                    }
                }
                address {
                    display: inline-block;
                }
                &[role="separate"], &:last-child {
                    &:after {
                        margin-right: 0;
                        margin-left: 0;
                        content: '';
                    }
                }
                a {
                    &:hover, &:focus {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .copyright {
        margin-top: 10px;
        @include lato();
        @include font(12px, 14px);
        a {
            display: inline-block;
            @include lato();
            @include font(12px, 14px);
            &:hover, &:focus {
                text-decoration: underline;
            }
        }
    }
    @media (min-width: $sm) {
        padding-top: 35px;
        padding-bottom: 40px;
        .company {
            @include font(12px, 18px);
            h2 {
                @include font(12px, 18px);
            }
        }
        .copyright {
            margin-top: 5px;
            @include font(12px, 18px);
            a {
                @include font(12px, 18px);
            }
        }
    }
    @media (min-width: $lg) {
        padding-top: 20px;
        padding-bottom: 25px;
        .copyright {
            margin-top: 0;
        }
    }
}