@import 'common';

.gallery {
    .container {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .page-header {
        padding-bottom: 20px;
        @media(min-width: $sm) {
            padding-bottom: 40px;
        }
        @media(min-width: $md) {
            padding-bottom: 45px;
        }
    }
}

.gallery-list {
    padding-bottom: 80px;
    @media(min-width: $sm) {
        padding-bottom: 125px;
    }
    @media(min-width: $md) {
        padding-bottom: 100px;
    }
    .menu-list {
        border-bottom: 0;
        margin-bottom: 35px;
        @media(min-width: $sm) {
            margin-bottom: 40px;
        }
        @media(min-width: $md) {
            margin-bottom: 15px;
        }
        ul {
            display: block;
            text-align: center;
            @media(min-width: $sm) {
                width: 100%;
            }
            li {
                display: inline-block;
                margin-left: 2.5px;
                margin-right: 2.5px;
                margin-bottom: 5px;
                @media(min-width: $sm) {
                    margin-left: 5px;
                    margin-right: 5px;
                    margin-bottom: 10px;
                }
                a {
                    display: block;
                    height: 26px;
                    font-size: 12px;
                    color: #333;
                    text-align: center;
                    line-height: 24px;
                    border: 1px solid #eee;
                    background-color: #fff;
                    vertical-align: top;
                    @media(min-width: $sm) {
                        font-size: 14px;
                        height: 35px;
                        line-height: 33px;
                    }
                }
                &.active {
                    a {
                        background-color: #f6f6f6;
                    }
                }
                &:nth-of-type(1) {
                    width: 120px;
                    @media(min-width: $sm) {
                        width: 164px;
                        margin-left: 0;
                    }
                    @media(min-width: $md) {
                        width: 223px;
                    }
                }
                &:nth-of-type(2) {
                    width: 120px;
                    @media(min-width: $sm) {
                        width: 164px;
                    }
                    @media(min-width: $md) {
                        width: 223px;
                    }
                }
                &:nth-of-type(3) {
                    width: 83px;
                    @media(min-width: $sm) {
                        width: 172px;
                    }
                    @media(min-width: $md) {
                        width: 223px;
                    }
                }
                &:nth-of-type(4) {
                    width: 83px;
                    @media(min-width: $sm) {
                        width: 180px;
                    }
                    @media(min-width: $md) {
                        width: 223px;
                    }
                }
                &:nth-of-type(5) {
                    width: 163px;
                    @media(min-width: $sm) {
                        width: 245px;
                        margin-right: 0;
                    }
                    @media(min-width: $md) {
                        width: 235px;
                    }
                }
            }
        }
    }
    .image-list {
        ul {
            @media(min-width: $md) {
                margin-left: -10px !important;
                margin-right: -10px !important;
            }
            li {
                a {
                    display: block;
                    margin-bottom: 20px;
                    figure {
                        .img-responsive {
                            min-width: 100%;
                        }
                        figcaption {
                            display: none;
                            text-align: center;
                            @media(min-width: $md) {
                                display: block;
                                padding-top: 10px;
                                font-size: 13px;
                                color: #333;
                            }
                        }
                    }
                }
                &:last-child {
                    a {
                        margin-bottom: 0;
                    }
                    @media(min-width: $md) {
                        margin-bottom: 35px;    
                    }
                }
                @media(min-width: $sm) {
                    &:nth-of-type(2n + 1) {
                        clear: both;
                    }
                }
                @media(min-width: $md) {
                    padding-left: 10px !important;
                    padding-right: 10px !important;
                    a {
                        margin-bottom: 35px;
                    }
                    &:nth-of-type(2n + 1) {
                        clear: none;
                    }
                    &:nth-of-type(4n + 1) {
                        clear: both;
                    }
                }
            }
        }
    }
    .paging {
        margin-top: 45px;
        @media(min-width: $sm) {
            margin-top: 30px;
        }
    }
}


// 겔러리 뷰
.gallery-view {
    padding-top: 80px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    background: rgba(#222, .8);
    .modal-dialog {
        margin: 0 auto;
        .modal-content {
            box-shadow: none;
            border-radius: 0;
            border: 0;
            background: none;
            .modal-header {
                padding: 0;
                padding-bottom: 10px;
                border-bottom: 0;
                text-align: right;
                .close {
                    opacity: 1;
                    text-shadow: none;
                    background: none;
                    font-weight: 300;
                    i {
                        padding: 0;
                        margin: 0;
                        font-size: 20px;
                        color: #fff;
                        &:before {
                            margin: 0;
                        }
                    }
                    &:hover {
                        opacity: 1;
                    }
                }
            }
            .modal-body {
                padding: 0;
                figure {
                    .img-responsive {
                        min-width: 100%;
                    }
                }
            }
        }
    }
    @media(min-width: $sm) {
        padding-top: 150px !important;
    }
    @media(min-width: $md) {
        padding-top: 200px !important;
        padding-left: 140px !important;
        padding-right: 140px !important;
    }
}