@import 'common';

.house {
    .page-header {
        padding-bottom: 35px;
        @media(min-width: $sm) {
            padding-bottom: 45px;
        }
        @media(min-width: $md) {
            padding-bottom: 60px;
        }
    }
}

.wedding {
    > ul {
        > li {
            > figure {
                margin-bottom: 10px;
                .img-responsive {
                    min-width: 100%;
                }
            }
            &:last-child {
                figure {
                    margin-bottom: 0;
                }
            }
            @media(min-width: $sm) {
                &:nth-of-type(1) {
                    padding-right: 5px !important;
                }
                &:nth-of-type(2) {
                    padding-left: 5px !important;
                }
                &:nth-of-type(3) {
                    padding-right: 5px !important;
                }
                &:nth-of-type(4) {
                    padding-left: 5px !important;
                }
            }
            @media(min-width: $md) {
                figure {
                    margin-bottom: 20px;
                }
                &:nth-of-type(1) {
                    padding-right: 10px !important;
                }
                &:nth-of-type(2) {
                    padding-left: 10px !important;
                }
                &:nth-of-type(3) {
                    padding-right: 10px !important;
                }
                &:nth-of-type(4) {
                    padding-left: 10px !important;
                }
            }
        }
    }
    .dream {
        text-align: center;
        padding-top: 45px;
        padding-bottom: 50px;
        > h4 {
            font-size: 23px;
            color: #c29b5e;
            line-height: 26px;
            font-weight: 500;
            margin-bottom: 30px;
            padding-bottom: 30px;
            background-image: url(/assets/images/house/dream_title_bg.png);
            background-repeat: no-repeat;
            background-position: 50% 100%;
        }
        > p {
            font-size: 13px;
            color: #777;
            line-height: 22px;
        }
        @media(min-width: $sm) {
            padding-top: 60px;
            padding-bottom: 80px;
            > h4 {
                font-size: 22px;
                padding-bottom: 35px;
            }
        }
        @media(min-width: $md) {
            padding-top: 75px;
            padding-bottom: 70px;
            > h4 {
                font-size: 26px;
                margin-bottom: 25px;
            }
            > p {
                font-size: 16px;
                line-height: 28px;
            }
        }
    }
}
.wedding-info {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #fafafa;
    > li {
        width: 232px;
        margin: 0 auto;
        display: block;
        font-size: 15px;
        color: #777;
        text-align: left;
        font-weight: 300;
        line-height: 28px;
        i {
            margin-right: 20px;
        }
        a {
            color: #777;
            font-weight: 300;
        }
    }
    @media(min-width: $sm) {
        padding-top: 55px;
        padding-bottom: 55px;
        > li {
            width: 251px;
            font-size: 16px;
        }
    }
}


































