@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,600,700");
.kelly .page-header {
  padding-bottom: 40px; }
  @media (min-width: 768px) {
    .kelly .page-header {
      padding-bottom: 50px; } }
  @media (min-width: 992px) {
    .kelly .page-header {
      padding-bottom: 60px; } }

.kelly-is {
  padding-bottom: 40px; }
  @media (min-width: 768px) {
    .kelly-is {
      padding-bottom: 90px; } }
  @media (min-width: 992px) {
    .kelly-is {
      padding-bottom: 105px; } }
  .kelly-is .section-header {
    position: relative;
    height: 360px;
    text-align: center;
    padding-top: 55px; }
    .kelly-is .section-header:after {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: .6;
      background-image: url(/assets/images/kelly/kelly_is_bg.jpg);
      background-repeat: no-repeat;
      background-position: 52% 100%; }
    @media (min-width: 768px) {
      .kelly-is .section-header {
        height: 406px;
        padding-top: 65px;
        padding-left: 50px;
        text-align: left; }
        .kelly-is .section-header:after {
          background-image: url(/assets/images/kelly/kelly_is_bg_md.jpg);
          background-size: 100% 100%;
          background-position: 50% 50%;
          opacity: 1; } }
    @media (min-width: 992px) {
      .kelly-is .section-header {
        padding-left: 80px; }
        .kelly-is .section-header:after {
          background-image: url(/assets/images/kelly/kelly_is_bg.jpg);
          background-position: 50% 50%;
          background-size: 100% 100%; } }
    .kelly-is .section-header h3 {
      display: inline-block; }
      .kelly-is .section-header h3 img {
        width: 276px; }
        @media (min-width: 768px) {
          .kelly-is .section-header h3 img {
            width: 373px; } }
    .kelly-is .section-header > p {
      font-size: 12px;
      color: #666;
      line-height: 19px;
      margin-top: 25px; }
      @media (min-width: 768px) {
        .kelly-is .section-header > p {
          position: absolute;
          left: 50px;
          font-size: 13px;
          line-height: 22px;
          margin-top: 40px;
          text-align: center; } }
      @media (min-width: 992px) {
        .kelly-is .section-header > p {
          left: 80px;
          font-size: 14px;
          line-height: 24px; } }
  .kelly-is .section-content {
    padding-top: 70px;
    text-align: center; }
    .kelly-is .section-content .content-header hr {
      width: 38px;
      display: inline-block;
      margin: 0;
      margin-bottom: 20px;
      border-top: 2px solid #3f3f3f; }
    .kelly-is .section-content .content-header h4 {
      font-size: 18px;
      color: #222;
      font-weight: 600;
      font-family: 'Crimson Text', serif;
      margin-bottom: 30px; }
      @media (min-width: 768px) {
        .kelly-is .section-content .content-header h4 {
          font-size: 23px;
          margin-bottom: 40px; } }
      @media (min-width: 992px) {
        .kelly-is .section-content .content-header h4 {
          font-size: 24px; } }
    .kelly-is .section-content .content-header p {
      font-size: 12px;
      color: #666;
      line-height: 18px; }
      @media (min-width: 768px) {
        .kelly-is .section-content .content-header p {
          font-size: 13px;
          color: #999;
          line-height: 22px; } }
      @media (min-width: 992px) {
        .kelly-is .section-content .content-header p {
          font-size: 14px;
          line-height: 22px; } }
    .kelly-is .section-content figure {
      margin-top: 60px; }
      .kelly-is .section-content figure .img-responsive {
        min-width: 100%; }
      @media (min-width: 768px) {
        .kelly-is .section-content figure {
          margin-top: 45px; } }
      @media (min-width: 992px) {
        .kelly-is .section-content figure {
          margin-top: 85px; } }
    @media (min-width: 768px) {
      .kelly-is .section-content {
        padding-top: 80px; } }
    @media (min-width: 992px) {
      .kelly-is .section-content {
        padding-top: 125px; } }

/*# sourceMappingURL=kelly.css.map */
