@import 'common';

#content {
    padding-top: 10px;
    padding-bottom: 40px;
    section {
        margin-top: 30px;
        header {
            position: relative;
            margin-bottom: 15px;
            h4 {
                font-size: 14px;
                @include maven();
                font-weight: bolder;
                color: #333;
            }
            .more {
                position: absolute;
                top: 0;
                right: 0;
                color: #333;
                &:before {
                    font-family: 'fontello';
                    content: '\E803'
                }
            }
        }
    }
    @media (min-width: $sm) {
        padding-top: 20px;
        padding-bottom: 70px;
        section {
            margin-top: 40px;
            header {
                h4 {
                    font-size: 15px;
                }
            }
        }
    }
    @media (min-width: $md) {
        padding-top: 30px;
        padding-bottom: 70px;
    }
    @media (min-width: $lg) {
        padding-top: 65px;
        padding-bottom: 60px;
    }
}

#content .about {
    @media (min-width: $md) {
        overflow: hidden;
        height: 300px;
    }
    @media (min-width: $lg) {
        height: 378px;
    }
}

#content .video {
    margin-top: 10px;
    @media (min-width: $sm) {
        margin-top: 20px;
    }
    @media (min-width: $md) {
        margin-top: 0;
        > .embed-responsive {
            height: 300px;
        }
    }
    @media (min-width: $md) {
        > .embed-responsive {
            height: 378px;
        }
    }
}

#content .location {
    margin-top: 40px;
    .map {
        height: 175px;
        background-color: #eee;
    }
    @media (min-width: $sm) {
        .map {
            height: 205px;
        }
    }
    @media (min-width: $lg) {
        .map {
            height: 158px;
        }
    }
}

#content .space {}

#content .space,
#content .party {
    .bx-wrapper {
        .bx-controls {
            margin-top: 15px;
            .bx-pager {
                float: right;
                .bx-pager-item {
                    float: left;
                    .bx-pager-link {
                        display: block;
                        margin-left: 5px;
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        background-color: rgba(#000, .2);
                        &.active {
                            background-color: rgba(#000, 1);
                        }
                    }
                }
            }
        }
    }
}

#content .news {
    header {
        padding-bottom: 15px;
        border-bottom: 1px solid #e7e7e7;
    }
    ul {
        li {
            &:before {
                float: left;
                content: '·';
                line-height: 24px;
            }
            a {
                overflow: hidden;
                display: block;
                margin-left: 15px;
                text-overflow: ellipsis;
                white-space: nowrap;
                @include font(12px, 24px);
                &:hover, &:focus {
                    text-decoration: underline;
                }
            }
        }
    }
    @media (min-width: $sm) {
        header {
            margin-bottom: 25px;
        }
        ul {
            li {
                &:before {
                    line-height: 30px;
                }
                a {
                    @include font(14px, 30px);
                }
            }
        }
    }
    @media (min-width: $lg) {
        header {
            margin-bottom: 15px;
        }
        ul {
            li {
                &:before {
                    line-height: 25px;
                }
                a {
                    @include font(13px, 25px);
                }
            }
        }
    }
}